
/* body {
  padding-right: 0;
  padding-left: 0;
} */

.navbar-nav > li > a, .navbar-brand {
  padding-top: 5px;
  padding-bottom: 0;
  height: 30px;
}

.navbar {
  min-height:30px;
  margin-bottom: 0;
}

.navbar.affix {
  top: 0px;
  width: 100%;
  z-index:9999;
}

.navbar.affix + #myContent {
  padding-top: 30px;
}

/*.playlist-wrapper {
  margin-right: 0px;
}

.playlist-wrapper.affix {
  margin-right: 0px;
}*/

/*#myContent {
  padding-right: 0;
}*/

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.center-align {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items
                              horizontally inside the column */
}

.play-control.affix {
  bottom: 0px;
}

.playlist-wrapper {
  position: fixed;
  width: 25%;
}

.poster_thumb {
  height: 180px;
}

.episode_thumb {
  height: 100px;
  width: 200px;
}

.episode_wrapper {
  height: 140px;
  width: 200px;
}

/*.row {
  margin-left: 0;
  margin-right: 0;
}*/

/*#myContent {
  padding-top: 30px;
}*/

