
.navbar-nav > li > a, .navbar-brand {
  padding-top: 5px;
  padding-bottom: 0;
  height: 30px;
}

.navbar {
  min-height:30px;
  margin-bottom: 0;
}

.navbar.affix {
  top: 0px;
  width: 100%;
  z-index:9999;
}

.navbar.affix + #myContent {
  padding-top: 30px;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.center-align {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items
                              horizontally inside the column */
}

.play-control.affix {
  bottom: 0px;
}

.playlist-wrapper {
  position: fixed;
  width: 25%;
}

.poster_thumb {
  height: 180px;
}

.episode_thumb {
  height: 100px;
  width: 200px;
}

.episode_wrapper {
  height: 140px;
  width: 200px;
  overflow: hidden;
}

.playercontrol-wrapper {
  height: 130px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top:0px;
  padding-bottom:0px;
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
  margin-bottom:-1px;
}

.volumecontrol {
    padding-top:0px;
    /*vertical-align: middle; */
    height: 50px;
    /*border: 1px solid red;*/
}

.slider {
    margin-left:auto;
    margin-right:auto;
    /*vertical-align: middle;*/
    height: 50px;
    /*border: 1px solid blue;*/
}

.center-icon {
    /*display:inline-block;*/
    /*background-color:black;
    color:white;*/
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: bottom;
    /*border: 1px solid purple;*/
}

.playercontrol {
    margin-left:auto;
    margin-right:auto;
    /*vertical-align: middle;*/
    height: 50px;
    /*border: 1px solid green;*/
}

.playercontrol-heading {
  height: 25px;
  font-size: 14px;
  line-height: 20px;
}

.playlist-item-wrapper {
  height: 32px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top:0px;
  padding-bottom:0px;
  line-height: 30px;
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
  margin-bottom:-1px;
  overflow: hidden;
}

.playlist-item-icon {
  height: 32px;
  line-height: 30px;
  text-align: center;
  vertical-align: bottom;
  margin-bottom:-1px;
}

.playlist-title {
  font-size: 14px;
  line-height: 30px;
  overflow: hidden;
}

.playlist-subtext-ep {
  font-size: 10px;
  line-height: 10px;
  overflow: hidden;
}

.playlist-item-playing-wrapper-ep {
  height: 52px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top:0px;
  padding-bottom:0px;
  line-height: default;
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
  margin-bottom:-1px;
}

.playing-ep-thumb {
  height: 50px;
  width: 80px;
}

.playlist-item-playing-wrapper-mv {
  height: 82px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top:0px;
  padding-bottom:0px;
  line-height: 80px;
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
  margin-bottom:-1px;
  overflow: hidden;
}

.playing-mv-thumb {
  height: 80px;
}

.playlist-title-mv {
  font-size: 14px;
  line-height: 80px;
}
