<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}

    <link rel="stylesheet" href={% static 'bootstrap/css/bootstrap.min.css' %}>
    <script src={% static 'jquery/jquery-1.11.3.min.js' %}></script>
    <script src={% static 'bootstrap/js/bootstrap.min.js' %}></script>
    <title>{% block title %}Ananke{% endblock %}</title>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={% url 'index' %}>Ananke</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
              <li {% block indexActive %}{% endblock %}><a href="{% url 'index' %}">Home</a></li>
              <li {% block kodiActive %}{% endblock %} class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kodi <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'kodi' %}">Overview</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Servers</li>
                  {% for server in kodi_servers %}
                    <li><a href="{% url 'server' server.id %}">{{ server }}</a></li>
                  {% endfor %}
                </ul>
              </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block picbar %}{% endblock %}

    {% block appnav %}{% endblock %}

    <div class="col-sm-12" id="myContent">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>