{% extends "main/kodi_server_base.html" %}

{% block center %}
  <h2>VideoLibrary.GetTVShows</h2>
  <p>...</p>

  <table class="table table-condensed table-striped" style="width:100%">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>ShowName</th>
      </tr>
    </thead>
    <tbody>
      {% for tvshow in tvshows %}
      <tr>
        <td>
          <a href="/main/kodi/{{ server.id }}/tv/{{ tvshow.tvshowid }}">
            <img src="{{ tvshow.thumbnail }}" class="img-responsive" alt={{ tvshow.title }} width="50" height="50">
          </a>
        </td>
        <td>{{ tvshow.title }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
