{% extends "main/kodi_server_base.html" %}

{% block center %}
  <h2>Movies</h2>

  {% if movieid %}
    <h3>{{ subheading }}</h3>

    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5 thumb">
        <img src="{{ thumbnail }}" class="img-responsive" width="210" height="297">
      </div>

      <div class="col-lg-10 col-md-9 col-sm-8 col-xs-7 text">
        <p>{{ subtext }}</p>
        <a href="{% url 'playmovie' server.id movieid %}" class="btn btn-primary" role="button">
          <span class="glyphicon glyphicon-play"></span> Play
        </a>
        <a href="{% url 'addmovie' server.id movieid %}" class="btn btn-info" role="button">
          <span class="glyphicon glyphicon-plus"></span> Add
        </a>
      </div>
    </div>
  {% endif %}

  <hr>

  {% if movieid %}
    <button type="button" data-toggle="collapse" data-target="#movies">Show All Movies</button>
    <div id="movies" class="collapse">
    <hr>
  {% endif %}

      <div class="row">
        {% for movie in movies %}
          <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 thumb">
            <a href="{% url 'movie' server.id movie.movieid %}">
              <img src="{{ movie.thumbnail }}" class="img-responsive" alt={{ movie.title }} width="210" height="297">
              <p></p>
              <!-- <p>{{ movie.title }} {{ movie.lastplayed }}</p> -->
            </a>
          </div>
        {% endfor %}
      </div>

  {% if movieid %}
    </div>
  {% endif %}
{% endblock %}
