{% extends "main/base.html" %}

{% block title %}Kodi{% endblock %}

{% block kodiActive %}class="active"{% endblock %}

{% block picbar %}
  <!--
    {% if path %}
      <div class="container-fluid">
        <div class="well well-sm"><h4>{{ path }}</h4></div>
      </div>
    {% endif %}
  -->
{% endblock %}


{% block appnav %}
  <nav class="navbar navbar-default" data-spy="affix" data-offset-top="30">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myAppNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href={% url 'kodi' %}>Kodi</a>
    </div>
    <div class="collapse navbar-collapse" id="myAppNavbar">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'kodi' %}">Overview</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servers <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for server in kodi_servers %}
              <li><a href="{% url 'server' server.id %}">{{ server }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% if server %}
          <li><a href="{% url 'tvindex' server.id %}"><i class="fa fa-television"></i> TV</a></li>
          <li><a href="{% url 'movies_index' server.id %}"><i class="fa fa-film"></i> Movies</a></li>
        {% else %}
          <li><a>TV</a></li>
          <li><a>Movies</a></li>
        {% endif %}
        <li><a href="#">Configure</a></li>
      </ul>
    </div>
  </nav>
{% endblock %}