{% extends "main/kodi_base.html" %}

{% block content %}
  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
    {% block center %}{% endblock %}
  </div>

  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="playlist-wrapper" data-spy="affix" data-offset-top="30" id="myPlaylistbar">
        <ul class="list-group">
          {% for episode in playlist %}
            <li class="list-group-item">
              {% if episode.uniqueid == playing.uniqueid %}
                <span class="glyphicon glyphicon-play"></span>
              {% endif %}
              <a href="{% url 'tvseason' server.id episode.tvshowid episode.season %}">{{ episode.title }}</a>
              <a href="#remove"><span class="glyphicon glyphicon-remove pull-right"></span></a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="play-control" data-spy="affix" data-offset-bottom="-15" id="myPlayerControl">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row vertical-align">
          <div class="col-sm-4 vertical-align"><a href="{{request.get_full_path}}_backward"><span class="glyphicon glyphicon-backward fa-2x"></span></a></div>
          <div class="col-sm-4 vertical-align"><a href="{{request.get_full_path}}_playpause"><span class="glyphicon glyphicon-play fa-3x"></span></a></div>
          <div class="col-sm-4 vertical-align"><a href="{{request.get_full_path}}_forward"><span class="glyphicon glyphicon-forward fa-2x"></span></a></div>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row vertical-align">
          <div class="col-sm-4 vertical-align"><a href="{{request.get_full_path}}_restart"><span class="glyphicon glyphicon-fast-backward fa-2x"></span></a></div>
          <div class="col-sm-4 vertical-align"><a href="{{request.get_full_path}}_stop"><span class="glyphicon glyphicon-stop fa-3x"></span></a></div>
          <div class="col-sm-4 vertical-align"><a href="{{request.get_full_path}}_skip"><span class="glyphicon glyphicon-fast-forward fa-2x"></span></a></div>
        </div>
      </div>

      <a href="{{request.get_full_path}}_playpause"><span class="glyphicon glyphicon-pause"></span></a>
      <span class="glyphicon glyphicon-film"></span>
      <span class="glyphicon glyphicon-off"></span>
      <span class="glyphicon glyphicon-cog"></span>
      <span class="glyphicon glyphicon-option-horizontal"></span>
      <span class="glyphicon glyphicon-option-vertical"></span>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
      <span class="glyphicon glyphicon-volume-down"></span>
      <a href="{{request.get_full_path}}_mute"><span class="glyphicon glyphicon-volume-off"></span></a>
      <span class="glyphicon glyphicon-volume-up"></span>
      <a href="{{request.get_full_path}}_subtitles"><span class="glyphicon glyphicon-subtitles"></span></a>

    </div>
  </div>

{% endblock %}