{% extends "main/base.html" %}

{% load staticfiles %}

{% block extraheader %}
  <script src={% static 'js/kodi_base.js' %}></script>
  <script src={% static 'js/kodi_control_panel.js' %}></script>
  <script src={% static 'js/kodi_server.js' %}></script>
  {% block kodiextraheader %}{% endblock %}
{% endblock %}

{% block appnav %}
<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
  <!-- Left hand side (inc title) -->
  <div class="navbar-header pull-left">
    <a class="navbar-brand" href="{% url 'kodi' %}">
      <img src="{% static 'images' %}/kodex_logo.png">
    </a>
    <!-- Required bootstrap placeholder for the collapsed menu -->
    <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
      <i class="fa fa-bars fa-lg"></i>
    </button>
  </div>

  <!-- Non-collapsing right-side menu items -->
  <div class="navbar-header pull-right">
    <!-- Server select form -->
    <ul class="nav pull-left" id="navbar-serverselect-form">
      <form class="navbar-form" role="form" action="#" method="post">
        {% csrf_token %}
        <select class="form-control navbar-server-select" name="server_id">
          {% if server %}
            <option disabled>Select server</option>
          {% else %}
            <option disabled selected>Select server</option>
          {% endif %}
          {% for s in kodi_servers %}
            {% if server %}
              {% if server == s %}
                <option selected value={{ s.id }}>{{ s }}
              {% else %}
                <option class="kodi-navbar-server-url" value=
                  {% if activeepisode.episodeid and activeepisode.season and activeepisode.tvshowid %}
                    "{% url 'tvepisode' s.id tvshow.tvshowid season activeepisode.episodeid %}"
                  {% elif season and tvshow.tvshowid %}
                    "{% url 'tvseason' s.id tvshow.tvshowid season %}"
                  {% elif tvshow.tvshowid %}
                    "{% url 'tvshow' s.id tvshow.tvshowid %}"
                  {% elif tvshows %}
                    "{% url 'tvindex' s.id %}"
                  {% elif movieid %}
                    "{% url 'movie' s.id movieid %}"
                  {% elif movies %}
                    "{% url 'movies_index' s.id %}"
                  {% else %}
                    "{% url 'server' s.id %}"
                  {% endif %}
                >{{ s }}</option>
              {% endif %}
            {% else %}
              <option value={{ s.id }}>{{ s }}
            {% endif %}
          {% endfor %}
        </select>
      </form>
    </ul>
    <!-- Server status button -->
    <ul class="nav pull-right">
      <button class="nav navbar-nav navbar-right btn btn-primary btn-xs" id="navbar-serverstatus-button">
        <i class="fa fa-question-circle" id="navbar-serverstatus-icon"></i>
      </button>
    </ul>
    <!-- Player control dropdown -->
    <ul class="nav pull-right" id="navbar-control-panel-dropdown">
      <button class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
      <ul class="dropdown-menu">
        <li><a data-toggle="collapse" data-target="#playercontrols"><i class="fa fa-chevron-up"></i> Toggle player controls</a></li>
        <li><a data-toggle="collapse" data-target="#playlist"><i class="fa fa-chevron-up"></i> Toggle playlist</a></li>
        <hr class="hr-list">
        {% if server %}
          <li><a href="{% url 'togglesubtitles' server.id %}"><i class="fa fa-commenting"></i> Toggle Subtitles</a></li>
          <li><a href="{% url 'cyclesubtitles' server.id %}"><i class="fa fa-commenting"></i> Cycle Subtitles</a></li>
          <li><a href="{% url 'videoscan' server.id %}"><i class="fa fa-file-video-o"></i> Video Library Scan</a></li>
          <li><a href="{% url 'clear' server.id %}"><i class="fa fa-eraser"></i> Clear playlist</a></li>
          <hr class="hr-list">
          <li><a href="{% url 'quit' server.id %}"><i class="fa fa-warning"></i> Close Kodi</a></li>
        {% endif %}
      </ul>
    </ul>
  </div>

  <!-- Collapsing menu items -->
  <div class="collapse navbar-collapse navbar-left">
    <ul class="nav navbar-nav">
      {% if server %}
        <li {% block overviewActive %}{% endblock %}><a id="kodi-navbar-overview-link" href="{% url 'server' server.id %}"><i class="fa fa-home"></i> Home</a></li>
        <li {% block tvActive %}{% endblock %}><a id="kodi-navbar-tv-link" href="{% url 'tvindex' server.id %}"><i class="fa fa-television"></i> TV</a></li>
        <li {% block movieActive %}{% endblock %}><a id="kodi-navbar-movie-link" href="{% url 'movies_index' server.id %}"><i class="fa fa-film"></i> Movies</a></li>
      {% else %}
        <li class="kodi-navbar-button disabled"><a id="kodi-navbar-overview-link" href="{% url 'server' 0 %}"><i class="fa fa-home"></i> Home</a></li>
        <li class="kodi-navbar-button disabled"><a id="kodi-navbar-tv-link" href="{% url 'tvindex' 0 %}"><i class="fa fa-television"></i> TV</a></li>
        <li class="kodi-navbar-button disabled"><a id="kodi-navbar-movie-link" href="{% url 'movies_index' 0 %}"><i class="fa fa-film"></i> Movies</a></li>
      {% endif %}
        <li {% block configActive %}{% endblock %}><a href="{% url 'config' %}"><i class="fa fa-cog fa-lg"></i> Config</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="col-lg-3 col-lg-push-9 col-md-3 col-md-push-9 col-sm-12 col-xs-12 no-padding">
    {% include "main/kodi_control_panel.html" %}
  </div>

  <div class="col-lg-9 col-lg-pull-3 col-md-9 col-md-pull-3 col-sm-12 col-xs-12">
    {% block center %}{% endblock %}
  </div>
{% endblock %}
