{% extends "main/kodi_server_base.html" %}

{% block center %}
  <h2>
    <a href="{% url 'tvshow' server.id tvshow.tvshowid %}">{{ tvshow.title }}</a>
    <small><a href="{% url 'tvseason' server.id tvshow.tvshowid season %}">Season {{ season }}</a></small>

    {% if number %}
      <small>Episode {{ number }}</small>
    {% endif %}
  </h2>

  {% if episodeid %}
    <h3>{{ subheading }}</h3>
    <p>{{ subtext }}</p>
    <a href="{% url 'playtv' server.id showid season episodeid %}" class="btn btn-primary" role="button">
      <span class="glyphicon glyphicon-play"></span> Play
    </a>
    <a href="{% url 'addtv' server.id showid season episodeid %}" class="btn btn-info" role="button">
      <span class="glyphicon glyphicon-plus"></span> Add
    </a>
  {% endif %}

  <hr>

  {% for episode in episodes %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 episode_wrapper">
      <a href="{% url 'tvepisode' server.id episode.tvshowid episode.season episode.episodeid %}">
        <img src="{{ episode.thumbnail }}" class="img-responsive episode_thumb">
        <a href="{{request.get_full_path}}_watched">
          {% if episode.lastplayed %}
            <i class="fa fa-check-square-o pull-right"></i>
          {% else %}
            <i class="fa fa-square-o pull-right"></i>
          {% endif %}
        </a>
        <a href="{% url 'addtv' server.id episode.tvshowid episode.season episode.episodeid %}"><i class="fa fa-plus-circle pull-right"></i></span></a>
        <a href="{% url 'playtv' server.id episode.tvshowid episode.season episode.episodeid %}"><i class="fa fa-play-circle-o pull-right"></i></a>
        <p>{{ episode.title }}</p>
      </a>
    </div>
  {% endfor %}
{% endblock %}
