{% extends "main/kodi_server_base.html" %}

{% load staticfiles %}

{% block center %}
  <h2>
    <a href="{% url 'tvshow' server.id tvshow.tvshowid %}">{{ tvshow.title }}</a>
    <small><a href="{% url 'tvseason' server.id tvshow.tvshowid season %}">Season {{ season }}</a></small>

    {% if activeepisode %}
      <small>Episode {{ selection.episode }}</small>
    {% endif %}
  </h2>

  {% if activeepisode %}
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-6 col-xs-7 active_episode_thumb_wrapper">
        <img src="{% static 'cache' %}/{{ activeepisode.thumbnail }}" class="img-responsive active_episode_thumb">
        {% if activeepisode.resume.position < activeepisode.resume.total %}
          <div class="progress active-ep-resume-bar">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ activeepisode.resume.position }} " aria-valuemin="0" aria-valuemax="{{ activeepisode.resume.total }}" style="width:{{ activeepisode.resume.percentage }}%">
              <span class="sr-only">Resume status</span>
            </div>
          </div>
        {% endif %}
      </div>

      <div class="col-lg-8 col-md-7 col-sm-6 col-xs-5">
        <h3>{{ activeepisode.title }}</h3>
        <p>{{ activeepisode.plot }}</p>
        <div id="file" class="collapse"><p>File: {{ activeepisode.file }}</p></div>
        <a href="{% url 'playtv' server.id activeepisode.tvshowid activeepisode.season activeepisode.episodeid %}" class="btn btn-primary" role="button">
          <span class="glyphicon glyphicon-play"></span> Play
        </a>
        <a href="{% url 'addtv' server.id activeepisode.tvshowid activeepisode.season activeepisode.episodeid %}" class="btn btn-info" role="button">
          <span class="glyphicon glyphicon-plus"></span> Add
        </a>
        <span class="dropdown pull-right">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Misc <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a data-toggle="collapse" data-target="#file">Show File Path</a></li>
            <li><a href={% url 'removetv' server.id activeepisode.tvshowid activeepisode.season activeepisode.episodeid %}>Remove Episode</a></li>
            <li><a href="#">...</a></li>
          </ul>
        </span>
      </div>
    </div>
  {% endif %}

  <hr>

  {% for episode in episodes %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 episode_wrapper">
      <a href="{% url 'tvepisode' server.id episode.tvshowid episode.season episode.episodeid %}">
        <img src="{% static 'cache' %}/{{ episode.thumbnail }}" class="img-responsive episode_thumb">
      </a>
      {% if episode.resume.position < episode.resume.total %}
        <div class="progress ep-resume-bar">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ episode.resume.position }} " aria-valuemin="0" aria-valuemax="{{ episode.resume.total }}" style="width:{{ episode.resume.percentage }}%">
            <span class="sr-only">Resume status</span>
          </div>
        </div>
      {% endif %}
      <a href="{% url 'watchedtv' server.id episode.tvshowid episode.season episode.episodeid %}">
        {% if episode.playcount %}
          <i class="fa fa-check-square-o pull-right"></i>
        {% else %}
          <i class="fa fa-square-o pull-right"></i>
        {% endif %}
      </a>
      <a href="{% url 'addtv' server.id episode.tvshowid episode.season episode.episodeid %}"><i class="fa fa-plus-circle pull-right"></i></span></a>
      <a href="{% url 'playtv' server.id episode.tvshowid episode.season episode.episodeid %}"><i class="fa fa-play-circle-o pull-right"></i></a>
      <a href="{% url 'tvepisode' server.id episode.tvshowid episode.season episode.episodeid %}"><p>{{ episode.episode }}. {{ episode.title }}</p></a>
    </div>
  {% endfor %}
{% endblock %}
