{% extends "main/kodi_server_base.html" %}

{% load staticfiles %}

{% block center %}
  <h2>Movies</h2>

  {% if movieid %}
    <h3>{{ subheading }}</h3>

    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5 thumb">
        <img src="{% static 'cache' %}/{{ thumbnail }}" class="img-responsive" width="210" height="297">
      </div>

      <div class="col-lg-10 col-md-9 col-sm-8 col-xs-7 text">
        <p>{{ subtext }}</p>
        <a href="{% url 'playmovie' server.id movieid %}" class="btn btn-primary" role="button">
          <span class="glyphicon glyphicon-play"></span> Play
        </a>
        <a href="{% url 'addmovie' server.id movieid %}" class="btn btn-info" role="button">
          <span class="glyphicon glyphicon-plus"></span> Add
        </a>
      </div>
    </div>
  {% endif %}

  <hr>

  {% if movieid %}
    <button type="button" data-toggle="collapse" data-target="#movies">Show All Movies</button>
    <div id="movies" class="collapse">
    <hr>
  {% endif %}

      <div class="row">
        {% for movie in movies %}
          <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 movie-wrapper">
            <a href="{% url 'movie' server.id movie.movieid %}">
              <img src="{% static 'cache' %}/{{ movie.thumbnail }}" class="img-responsive poster_thumb" alt={{ movie.title }}>
            </a>
            <a href="{% url 'addmovie' server.id movie.movieid %}"><i class="fa fa-plus-circle pull-right"></i></span></a>
            <a href="{% url 'playmovie' server.id movie.movieid %}"><i class="fa fa-play-circle-o pull-right"></i></a>
            <a href="{{request.get_full_path}}_watched">
              {% if movie.playcount %}
                <i class="fa fa-check-square-o pull-right"></i>
              {% else %}
                <i class="fa fa-square-o pull-right"></i>
              {% endif %}
            </a>
          </div>
        {% endfor %}
      </div>

  {% if movieid %}
    </div>
  {% endif %}
{% endblock %}
