{% extends "main/kodi_server_base.html" %}

{% load staticfiles %}

{% block center %}
<div class="col-sm-6">
  <h3>Recently Added Episodes</h3>
  <table class="table table-condensed table-striped" style="width:100%">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>ShowName</th>
        <th>Season</th>
        <th>Episode</th>
        <th>EpisodeTitle</th>
      </tr>
    </thead>
    <tbody>
      {% for episode in recentepisodes %}
      <tr>
        <td>
          <a href="{% url 'tvepisode' server.id episode.tvshowid episode.season episode.episodeid %}">
            <img src="{% static 'cache' %}/{{ episode.thumbnail }}" class="img-responsive" alt={{ episode.title }} width="50" height="50">
          </a>
        </td>
        <td>{{ episode.showtitle }}</td>
        <td>{{ episode.season }}</td>
        <td>{{ episode.episode }}</td>
        <td>{{ episode.title }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="col-sm-6">
  <h3>Recently Added Movies</h3>
  <table class="table table-condensed table-striped" style="width:100%">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      {% for movie in recentmovies %}
      <tr>
        <td>
          <a href="{% url 'movie' server.id movie.movieid %}">
            <img src="{% static 'cache' %}/{{ movie.thumbnail }}" class="img-responsive" alt={{ movie.title }} width="50" height="50">
          </a>
        </td>
        <td>{{ movie.title }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
