{% extends "main/kodi_base.html" %}

{% load staticfiles %}

{% block content %}
  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
    {% block center %}{% endblock %}
  </div>

  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="playlist-wrapper" data-spy="affix" data-offset-top="30" id="myPlaylistbar">
        <ul class="list-group">
          <li class="list-group-item playercontrol-wrapper">
            <div class="playercontrol-heading">
              <span class="dropdown">
                <button class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  {% for altserver in kodi_servers %}
                    {% if altserver != server %}
                      <li>
                        {% if episodeid and season and showid %}
                          <a href="{% url 'tvepisode' altserver.id showid season episodeid %}">
                        {% elif season and tvshow.tvshowid %}
                          <a href="{% url 'tvseason' altserver.id tvshow.tvshowid season %}">
                        {% elif tvshow.tvshowid %}
                          <a href="{% url 'tvshow' altserver.id tvshow.tvshowid %}">
                        {% elif tvshows %}
                          <a href="{% url 'tvindex' altserver.id %}">
                        {% elif movieid %}
                          <a href="{% url 'movie' altserver.id movieid %}">
                        {% elif movies %}
                          <a href="{% url 'movies_index' altserver.id %}">
                        {% else %}
                          <a href="{% url 'server' altserver.id %}">
                        {% endif %}
                        {{ altserver }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </span>
              <button><a href="{% url 'server' server.id %}">{{ server }}</a></button>
              <span class="dropdown pull-right">
                <button class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{{request.get_full_path}}_quit"><i class="fa fa-close"></i> Close Kodi</a>
                    <a href="{{request.get_full_path}}_clear"><i class="fa fa-ban"></i> Clear playlist</a>
                    <a href="{{request.get_full_path}}_subtitles"><i class="fa fa-commenting"></i> Subtitles</a>
                    <a href="{{request.get_full_path}}_videoscan"><i class="fa fa-file-video-o"></i> Video Library Scan</a>
                  </li>
                </ul>
              </span>
            </div>
            <div class="volumecontrol">
              {% if properties.muted %}
                <div class="col-xs-2 center-icon"><a href="{{request.get_full_path}}_mute"><i class="fa fa-volume-off fa-2x center-icon" id="mute"></i></a></div>
              {% else %}
                <div class="col-xs-2 center-icon"><a href="{{request.get_full_path}}_mute"><i class="fa fa-volume-up fa-2x center-icon" id="mute"></i></a></div>
              {% endif %}
              <div class="col-xs-10"><input class="slider" type="range" id="volslider" min="0" max="100" value={{ properties.volume }} step="1" onchange="volumeControl()"></input></div>
            </div>
            <div class="playercontrol">
              <div class="col-xs-2 center-icon"><a href="{{request.get_full_path}}_restart"><i class="fa fa-fast-backward fa-2x center-icon"></i></a></div>
              <div class="col-xs-2 center-icon"><a href="{{request.get_full_path}}_backward"><i class="fa fa-backward fa-2x center-icon"></i></a></div>
              <div class="col-xs-2 center-icon"><a href="{{request.get_full_path}}_stop"><i class="fa fa-stop fa-2x center-icon"></i></a></div>
              <div class="col-xs-2 center-icon">
                {% if player and player.speed != 0 %}
                  <a href="{{request.get_full_path}}_playpause"><i class="fa fa-pause fa-2x center-icon" id="playpause"></i></a>
                {% else %}
                  <a href="{{request.get_full_path}}_playpause"><i class="fa fa-play fa-2x center-icon" id="playpause"></i></a>
                {% endif %}
              </div>
              <div class="col-xs-2 center-icon"><a href="{{request.get_full_path}}_forward"><i class="fa fa-forward fa-2x center-icon"></i></a></div>
              <div class="col-xs-2 center-icon"><a href="{{request.get_full_path}}_skip"><i class="fa fa-fast-forward fa-2x center-icon"></i></a></div>
            </div>
            <div class="playerprogressbar" id="playerprogressbar">
              <input type="hidden" id="playerprogressbarvalue" name="value"
                {% if player.percentage %}
                  value={{ player.percentage }}
                {% else %}
                  value=0
                {% endif %}
              >
            </div>
          </li>
          {% if special_play %}
            <li class="list-group-item playlist-item-playing-special-wrapper-ep">
              <div class="col-xs-3 no-padding"><img src="{% static 'cache' %}/{{ playing.thumbnail }}" class="img-responsive playing-ep-thumb"></div>
              <div class="col-xs-9">
                <div class="playlist-title"><a href="{% url 'tvepisode' server.id playing.tvshowid playing.season playing.id %}">{{ playing.title }}</a></div>
                <div class="playlist-subtext-ep">{{ playing.showtitle }} {{ playing.season }}.{{ playing.episode }}</div>
              </div>
            </li>
          {% endif %}
          {% for item in playlist %}
              {% if item.id and item.showtitle %}
                {% if item.id == playing.id %}
                <li class="list-group-item playlist-item-playing-wrapper-ep">
                  <div class="col-xs-3 no-padding"><img src="{% static 'cache' %}/{{ item.thumbnail }}" class="img-responsive playing-ep-thumb"></div>
                  <div class="col-xs-9">
                    <div class="playlist-title"><a href="{% url 'tvepisode' server.id item.tvshowid item.season item.id %}">{{ item.title }}</a></div>
                    <div class="playlist-subtext-ep">{{ item.showtitle }} {{ item.season }}.{{ item.episode }}</div>
                  </div>
                </li>
                {% else %}
                <li class="list-group-item playlist-item-wrapper">
                  <div class="col-xs-10">
                    <i class="fa fa-television"></i>
                    <a href="{% url 'tvepisode' server.id item.tvshowid item.season item.id %}">{{ item.title }}</a>
                    <span class="playlist-subtext-ep">{{ item.showtitle }} {{ item.season }}.{{ item.episode }}</span>
                  </div>
                  <div class="col-xs-2 no-padding">
                    <a href="{{request.get_full_path}}_remove_{{forloop.counter0}}"><i class="fa fa-times pull-right playlist-item-icon"></i></a>
                    <a href="{{request.get_full_path}}_playlistplay_{{forloop.counter0}}"><i class="fa fa-play-circle-o pull-right playlist-item-icon"></i></a>
                  </div>
                </li>
                {% endif %}
              {% elif item.id %}
                {% if item.id == playing.id %}
                <li class="list-group-item playlist-item-playing-wrapper-mv">
                  <div class="col-xs-3 no-padding"><img src="{% static 'cache' %}/{{ item.thumbnail }}" class="img-responsive playing-mv-thumb"></div>
                  <div class="col-xs-9">
                    <div class="playlist-title-mv"><a href="{% url 'movie' server.id item.id %}">{{ item.title }}</a></div>
                  </div>
                </li>
                {% else %}
                <li class="list-group-item playlist-item-wrapper">
                  <div class="col-xs-10">
                    <i class="fa fa-film"></i>
                    <a href="{% url 'movie' server.id item.id %}">{{ item.title }}</a>
                  </div>
                  <div class="col-xs-2 no-padding">
                    <a href="{{request.get_full_path}}_remove_{{forloop.counter0}}"><i class="fa fa-times pull-right playlist-item-icon"></i></a>
                    <a href="{{request.get_full_path}}_playlistplay_{{forloop.counter0}}"><i class="fa fa-play-circle-o pull-right playlist-item-icon"></i></a>
                  </div>
                </li>
                {% endif %}
              {% else %}
                {% if item.label == playing.label %}
                <li class="list-group-item playlist-item-playing-wrapper-mv">
                  <div class="col-xs-3 no-padding"><img src="{% static 'cache' %}/{{ item.thumbnail }}" class="img-responsive playing-mv-thumb"></div>
                  <div class="col-xs-9">
                    <div class="playlist-title-mv">{{ item.title }}</div>
                  </div>
                </li>
                {% else %}
                <li class="list-group-item playlist-item-wrapper">
                  <div class="col-xs-10">
                    <i class="fa fa-shield"></i>
                    {{ item.title }}
                  </div>
                  <div class="col-xs-2 no-padding">
                    <a href="{{request.get_full_path}}_remove_{{forloop.counter0}}"><i class="fa fa-times pull-right playlist-item-icon"></i></a>
                    <a href="{{request.get_full_path}}_playlistplay_{{forloop.counter0}}"><i class="fa fa-play-circle-o pull-right playlist-item-icon"></i></a>
                  </div>
                </li>
                {% endif %}
              {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
{% endblock %}