{% extends "main/kodi_server_base.html" %}

{% block center %}
  <h2>VideoLibrary.GetRecentlyAddedEpisodes</h2>
  <p>...</p>

  <table class="table table-condensed table-striped" style="width:100%">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>ShowName</th>
        <th>Season</th>
        <th>Episode</th>
        <th>EpisodeTitle</th>
      </tr>
    </thead>
    <tbody>
      {% for episode in episodes %}
      <tr>
        <td>
          <a href="/main/kodi/{{ server.id }}/tv/{{ episode.tvshowid }}/{{ episode.season }}/{{ episode.episode }}">
            <img src="{{ episode.thumbnail }}" class="img-responsive" alt={{ episode.title }} width="50" height="50">
          </a>
        </td>
        <td>{{ episode.showtitle }}</td>
        <td>{{ episode.season }}</td>
        <td>{{ episode.episode }}</td>
        <td>{{ episode.title }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>VideoLibrary.GetRecentlyAddedMovies</h2>
  <p>...</p>

  <table class="table table-condensed table-striped" style="width:100%">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      {% for movie in movies %}
      <tr>
        <td>
          <a href="/main/kodi/{{ server.id }}/movies/{{ movie.movieid }}">
            <img src="{{ movie.thumbnail }}" class="img-responsive" alt={{ movie.title }} width="50" height="50">
          </a>
        </td>
        <td>{{ movie.title }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
