/* Kodi CSS content */

.control-panel-wrapper.affix {
  top: 32px;
  width: 100%;
  z-index:9998;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.poster_thumb {
  height: 180px;
  width: 120px;
}

.episode_thumb {
  height: 100px;
  width: 170px;
}

.episode_wrapper {
  height: 140px;
  width: 200px;
  overflow: hidden;
}

.active_episode_thumb {
  height: 100px;
  width: 170px;
}

.active_episode_thumb_wrapper {
  width: 200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top:15px;
  padding-bottom:15px;
}

.active-poster-thumb-wrapper {
  width: 150px;
  height: 210px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top:15px;
  padding-bottom:15px;
}


.playercontrol-wrapper {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top:0px;
  padding-bottom:0px;
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
  margin-bottom:-1px;
  background-color: rgba(225,225,225,0.7);
}

.volumecontrol {
  padding-top:0px;
  height: 50px;
}

.slider {
  margin-left:auto;
  margin-right:auto;
  height: 50px;
}

.center-icon {
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: bottom;
}

.playercontrol {
  margin-left:auto;
  margin-right:auto;
  height: 50px;
}

.playercontrol-heading {
  height: 25px;
  font-size: 14px;
  line-height: 20px;
}

.poster-wrapper {
  height: 240px;
  width: 150px;
  overflow: hidden;
}

.active-ep-resume-bar {
  height: 10px;
  border-radius: 0;
}

.ep-resume-bar {
  position: absolute;
  top: 90px;
  left: 15px;
  height: 10px;
  width: 170px;
  border-radius: 0;
}

.poster-resume-bar {
  position: absolute;
  top: 170px;
  left: 15px;
  height: 10px;
  width: 120px;
  border-radius: 0;
}

.active-movie-resume-bar {
  position: absolute;
  top: 195px;
  left: 15px;
  height: 10px;
  width: 120px;
  border-radius: 0;
}

.small-movie-poster {
  height: 90px;
  width: 60px;
  margin-top:1px;
  margin-bottom:4px;
  margin-left:2px;
  margin-right:2px;
}

.hr-list {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.hidden-link {
  visibility:hidden;
  display:none;
}

/*
 * Configurations for screen size
 * 992px corresponds to switched between
 * bootstrap col-md and col-sm
 */
@media (min-width: 992px) {
  .control-panel-wrapper {
    position: fixed;
    width: 25%;
  }
  .control-panel-wrapper.affix {
    width: 25%;
  }
}
