{% extends "main/kodi_server_base.html" %}

{% load staticfiles %}

{% block movieActive %}active{% endblock %}

{% block center %}
  <h2>Movies</h2>

  {% if activemovie %}
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5 active-poster-thumb-wrapper">
        <img src="{% static 'cache' %}/{{ activemovie.thumbnail }}" class="img-responsive poster_thumb">
        {% if activemovie.resume.position < activemovie.resume.total %}
          <div class="progress active-movie-resume-bar">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ activemovie.resume.position }} " aria-valuemin="0" aria-valuemax="{{ activemovie.resume.total }}" style="width:{{ activemovie.resume.percentage }}%">
              <span class="sr-only">Resume status</span>
            </div>
          </div>
        {% endif %}
      </div>

      <div class="col-lg-10 col-md-9 col-sm-8 col-xs-7">
        <h3>{{ activemovie.title }}</h3>
        <p>{{ activemovie.plot }}</p>
        <div id="file" class="collapse"><p>File: {{ activemovie.file }}</p></div>
        <span class="playplaylist">
          <a href="{% url 'playmovie' server.id activemovie.movieid %}" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-play"></span> Play
          </a>
        </span>
        <span class="addplaylist">
          <a href="{% url 'addmovie' server.id activemovie.movieid %}" class="btn btn-info" role="button">
            <span class="glyphicon glyphicon-plus"></span> Add
          </a>
        </span>
        <span class="dropdown pull-right">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Misc <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a data-toggle="collapse" data-target="#file">Show File Path</a></li>
            <li><a href="{% url 'removemovie' server.id activemovie.movieid %}">Remove Movie</a></li>
          </ul>
        </span>
      </div>
    </div>
  {% endif %}

  <hr>

  {% if activemovie %}
    <button type="button" data-toggle="collapse" data-target="#movies">Show All Movies</button>
    <div id="movies" class="collapse">
    <hr>
  {% endif %}

      {% include "main/kodi_starred_movie_section.html" %}
      <hr>
      <div class="row">
        {% for movie in movies %}
          <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 poster-wrapper">
            <a href="{% url 'movie' server.id movie.movieid %}">
              <img src="{% static 'cache' %}/{{ movie.thumbnail }}" class="img-responsive poster_thumb" alt={{ movie.title }}>
            </a>
            <div class="addplaylist">
              <a href="{% url 'addmovie' server.id movie.movieid %}"><i class="fa fa-plus-circle pull-right"></i></span></a>
            </div>
            <span class="playplaylist">
              <a href="{% url 'playmovie' server.id movie.movieid %}"><i class="fa fa-play-circle-o pull-right"></i></a>
            </span>
            <div class="watched">
              <a href="{% url 'watchedmovie' server.id movie.movieid %}">
                {% if movie.playcount %}
                  <i class="watchedtvicon fa fa-check-square-o pull-right"></i>
                {% else %}
                  <i class="watchedtvicon fa fa-square-o pull-right"></i>
                {% endif %}
              </a>
            </div>
            <div class="starred">
              <a href="{% url 'starredmovie' server.id movie.movieid %}">
                {% if movie.starred %}
                  <i class="fa fa-star pull-right"></i>
                {% else %}
                  <i class="fa fa-star-o pull-right"></i>
                {% endif %}
              </a>
            </div>
            {% if movie.resume.position < movie.resume.total %}
              <div class="progress poster-resume-bar">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ movie.resume.position }} " aria-valuemin="0" aria-valuemax="{{ movie.resume.total }}" style="width:{{ movie.resume.percentage }}%">
                  <span class="sr-only">Resume status</span>
                </div>
              </div>
            {% endif %}
            <p>{{ movie.title }}</p>
          </div>
        {% endfor %}
      </div>

  {% if activemovie %}
    </div>
  {% endif %}
{% endblock %}
