{% extends "main/kodi_server_base.html" %}

{% load staticfiles %}

{% block overviewActive %}active{% endblock %}

{% block center %}
<h2>{{ server }}</h2>
{% if starred_movies %}{% include "main/kodi_starred_movie_section.html" %}{% endif %}
{% if starred_tvshows %}{% include "main/kodi_starred_tv_section.html" %}{% endif %}
<h3>Recently Added</h3>
<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
  <h4>TV Episodes</h4>
  <table class="table table-condensed table-striped table-responsive" style="width:100%">
    <tbody>
      {% for episode in recentepisodes %}
      <tr>
        <td>
          <a href="{% url 'tvepisode' server.id episode.tvshowid episode.season episode.episodeid %}">
            <img src="{% static 'cache' %}/{{ episode.thumbnail }}" class="img-responsive" alt={{ episode.title }} width="50" height="50">
          </a>
        </td>
        <td>
          <a href="{% url 'tvshow' server.id episode.tvshowid %}">
            {{ episode.showtitle }}
          </a>
        </td>
        <td>
          <a href="{% url 'tvepisode' server.id episode.tvshowid episode.season episode.episodeid %}">
            {{ episode.title }} ({{ episode.season }}x{{ episode.episode }})
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
  <h4>Movies</h4>
    {% for movie in recentmovies %}
      <div class="col-lg-3 col-md-4 col-sm-3 col-xs-2 no-padding">
        <a href="{% url 'movie' server.id movie.movieid %}">
          <img src="{% static 'cache' %}/{{ movie.thumbnail }}" class="img-responsive small-movie-poster" alt={{ movie.title }}>
        </a>
      </div>
    {% endfor %}
</div>

{% endblock %}
