/* Navbar CSS */

.navbar {
  min-height:30px;
  margin-bottom: 0;
}

.navbar-nav > li > a, .navbar-brand {
  padding-top: 5px;
  padding-bottom: 0;
  height: 30px;
}

.navbar-header > .navbar-brand {
  padding-top: 0px;
}

.navbar-header > .navbar-brand > img {
  height: 30px;
}

.end-of-navbar {
  padding-right: 15px;
}

.navbar-form {
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 5px;
  padding-left: 5px;
}

.navbar-form > .form-control {
  height: 28px;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 0.8em;
}

#navbar-serverstatus-button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

/* Colour scheme */

.navbar-default {
  background-color: rgba(10,111,237,0.7);
  border-color: rgba(13,131,242,1.0);
}
.navbar-default .navbar-brand {
  color: rgb(235,245,247, 1.0);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: rgba(246,178,14,1.0);
}
.navbar-default .navbar-text {
  color: rgba(235,245,247,1.0);
}
.navbar-default .navbar-nav > li > a {
  color: rgba(235,245,247,1.0);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: rgba(246,178,14,1.0);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: rgba(246,178,14,1.0);
  background-color: rgba(10,111,237,0);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: rgba(246,178,14,1.0);
  background-color: rgba(10,111,237,0);
}
.navbar-default .navbar-toggle {
  border-color: rgba(10,111,237,0.7);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: rgba(10,111,237,0.7);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: rgba(235,245,247,0.7);
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: rgba(235,245,247,1.0);
}
.navbar-default .navbar-link {
  color: rgba(235,245,247,1.0);
}
.navbar-default .navbar-link:hover {
  color: rgba(246,178,14,1.0);
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: rgba(235,245,247,1.0);
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: rgba(246,178,14,1.0);
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: rgba(246,178,14,1.0);
    background-color: rgba(10,111,237,0);
  }
}
