{% load staticfiles %}

<div class="control-panel-wrapper" data-spy="affix" data-offset-top="1">
  {% if server %}
    <a href="{% url 'getstatus' server.id %}" id="server-status-link" class="hidden-link"></a>
    <a href="{% url 'getplaylist' server.id %}" id="server-playlist-link" class="hidden-link"></a>
    <ul class="list-group">
      <li class="list-group-item playercontrol-wrapper">
        <div id="playercontrols" class="collapse in">
          <div class="volumecontrol">
            <div class="col-xs-2 center-icon mute">
              {% if properties.muted %}
                <a href="{% url 'mute' server.id %}" id="mute-link"><i class="fa fa-volume-off fa-2x center-icon" id="mute"></i></a>
              {% else %}
                <a href="{% url 'mute' server.id %}" id="mute-link"><i class="fa fa-volume-up fa-2x center-icon" id="mute"></i></a>
              {% endif %}
            </div>
            <div class="col-xs-10">
              <input class="slider" type="range" id="volslider" min="0" max="100" value={{ properties.volume }} step="1"></input>
              <a href="{% url 'setvolume' server.id %}" id="volslider-link" class="hidden-link"></a>
            </div>
          </div>
          <div class="playercontrol">
            <div class="col-xs-2 center-icon restart"><a href="{% url 'restart' server.id %}"><i class="fa fa-fast-backward fa-2x center-icon"></i></a></div>
            <div class="col-xs-2 center-icon backward"><a href="{% url 'backward' server.id %}"><i class="fa fa-backward fa-2x center-icon"></i></a></div>
            <div class="col-xs-2 center-icon stop"><a href="{% url 'stop' server.id %}"><i class="fa fa-stop fa-2x center-icon"></i></a></div>
            <div class="col-xs-2 center-icon playpause">
              {% if player and player.speed != 0 %}
                <a href="{% url 'playpause' server.id %}" id="playpause-link"><i class="fa fa-pause fa-2x center-icon" id="playpause"></i></a>
              {% else %}
                <a href="{% url 'playpause' server.id %}" id="playpause-link"><i class="fa fa-play fa-2x center-icon" id="playpause"></i></a>
              {% endif %}
            </div>
            <div class="col-xs-2 center-icon forward"><a href="{% url 'forward' server.id %}"><i class="fa fa-forward fa-2x center-icon"></i></a></div>
            <div class="col-xs-2 center-icon skip"><a href="{% url 'skip' server.id %}"><i class="fa fa-fast-forward fa-2x center-icon"></i></a></div>
          </div>
          <div class="playerprogressbar" id="playerprogressbar"></div>
        </div>
      </li>
      {% include "kodidj/kodi_playlist_panel.html" %}
    </ul>
  {% endif %}
</div>
